		.site-wrapper,
		.wrapper,
		.column,
		.box,
		.container,
		article,
		aside,
		section {
			@include box-sizing(border-box);
		}

// Site Wrapper

		.site-wrapper { max-width: 1024px; margin: auto; }

// Wrapper
	
		.wrapper { }

// Box

		.box { }

// Container

		.container { }

// Article

		article { }

// Aside

		aside { }

// Section

		section { margin-bottom: $base-margin * 6; }

// Columns

		.column {
			display: block;
			margin: 1% 0 1% 0;
			width: 100%;

			@media only screen and (min-width: $bp768px) { 

				margin: 1% 0 1% 1.6%;
				float:left;

			}
		}

		.column:first-child { margin-left: 0; }

		.column-row {
			
			overflow: hidden; 

			.column { padding: $base-padding; background: #e5e5e5;}
		}

		.column-row--two {

			.column {

				@media only screen and (min-width: $bp768px) { 
					width: 49.2%;
				}
			}

		}

		.column-row--three {

			.column {

				@media only screen and (min-width: $bp768px) { 
					width: 32.26%;
				}
			}

		}

		.column-row--four {

			.column {

				@media only screen and (min-width: $bp768px) { 
					width: 23.8%;
				}
			}

		}

		.column-row--five {

			.column {
				
				@media only screen and (min-width: $bp768px) { 
					width: 18.72%;
				}
			}

		}

		.group:before,
			.group:after {
			    content:"";
			    display:table;
			}
			.group:after {
			    clear:both;
			}
			.group {
			    zoom:1; /* For IE 6/7 (trigger hasLayout) */
			}

			/*  GRID COLUMN SETUP   ==================================================================== */

			